<div>
  <div *ngFor="let article of articles" >
    <div>{{article.reference}}</div>
    <div>{{article.name}}</div>
    <div>{{article.description}}</div>
  </div>
</div>
<form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <label>Reference
    <input type="text" formControlName="reference" id="reference">
  </label>
  <div *ngIf="articleForm.controls['reference'].errors">
  <div *ngIf="articleForm.controls['reference'].errors?.['validation']">
    {{articleForm.controls['reference'].errors?.['validation'].rules}}
  </div>
</div>
  <label>Name
    <input type="text" formControlName="name">
  </label>
  <div *ngIf="articleForm.controls['name'].errors">
    <div *ngIf="articleForm.controls['name'].errors?.['required']">Le champs est requis</div>
  </div>
  <label>Description
    <input type="text" formControlName="description">
  </label>
  <div *ngIf="articleForm.controls['description'].errors">
    <div *ngIf="articleForm.controls['description'].errors?.['required']">Le champs est requis</div>
  </div>
  <button type="submit">Envoyer !</button>
</form>
